body, html {
    font-family: "Roboto", sans-serif;
    background: blue;
    height: 100%;
  }

//= ================================ LogIn Page =================================
.LoginContainer{
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LoginInputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: yellow;
}
.LogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .GoogleIcon{
    width: 10%;
    margin-right: 2%;
  }
  .FaceBookIcon{
    width: 10%;
    margin-right: 2%;

  }
  .AppleIcon{
    width: 10.5%;

  }

  :root {
    text-size-adjust: 100%;
  }

  .active {
    color: pink;
  }
  